@import url("https://fonts.googleapis.com/css2?family=Montserrat");

body {
  background: url("./images/bg-top.svg") right top no-repeat,
    url("./images/bg-bottom.svg") left bottom no-repeat;
  background-color: #f7f7ff;
  width: 100%;
  height: 100vh;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(232, 13%, 33%);
}

.backgroundImageLower {
  position: absolute;
  bottom: 0;
  left: 0;
}

.backgroundImageUpper {
  position: absolute;
  top: 0;
  right: 0;
}

.container {
  width: 60%;
  box-shadow: 0 2px 16px hsl(234, 14%, 74%);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.specification {
  margin: 20px;
}

.card-row {
  width: 100%;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-column-img {
  width: 50%;
  display: flex;
  justify-content: center;
}
.form {
  width: 50%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

h1 {
  margin-top: 50px;
  font-size: 50px;
}

.inputs {
  height: 55%;
  display: flex;
  flex-direction: column;

  justify-content: space-around;
}

input {
  width: 60%;
  border: 0px;
  font-size: 20px;
  padding-left: 15px;
  height: 45px;
  border-radius: 5px;
  box-shadow: 0 2px 16px hsl(234, 14%, 74%);
}

.main-btn {
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  margin-top: 30px;
  border: 0;
  padding: 10px;
  width: 40%;
  height: 50px;
  font-weight: 900;
  color: white;
  box-shadow: 0 2px 16px hsl(234, 14%, 74%);
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (min-width: 900px) {
  html,
  body {
    min-height: 100%;
  }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .left-column-img {
    display: none;
  }
  .form {
    width: 100%;
  }
  input {
    width: 70%;
    font-size: 18px;
    padding-left: 12px;
  }

  .container {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .left-column-img {
    display: none;
  }
  .form {
    width: 100%;
  }
  input {
    width: 80%;
    font-size: 16px;
    padding-left: 10px;
  }

  .container {
    width: 80%;
  }
}
