@import url("https://fonts.googleapis.com/css2?family=Montserrat");

body {
  background: url("./images/bg-top.svg") right top no-repeat,
    url("./images/bg-bottom.svg") left bottom no-repeat;
  background-color: #f7f7ff;
  width: 100%;
  min-height: fit-content;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(232, 13%, 33%);
}

.backgroundImageLower {
  position: absolute;
  bottom: 0;
  left: 0;
}

.backgroundImageUpper {
  position: absolute;
  top: 0;
  right: 0;
}

.container {
  display: flex;
  width: 90%;
  height: 90%;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}


.subscription-type {
  height: 100px;
  display: flex;
  align-items: center;
}


.specification {
  margin: 20px;
}

.card-row {
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding-top: 50px;
}

.card {
  width: 280px;
  align-self: center;
  text-align: center;
  border: 1px;
  box-shadow: 0 2px 16px hsl(234, 14%, 74%);
  background-color: white;
  border-radius: 10px;
  padding: 30px;
}

.card:hover {
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  transform: scale(1.1);
  color: #fff;
  transition: 0.4s;
}

.card:hover .main-btn {
  background: white;
  transform: scale(1.1);
  color: hsl(236, 72%, 79%);
}


hr {
  color: hsl(232, 13%, 33%);
}

.main-btn {
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  margin-top: 30px;
  margin-bottom: 20px;
  border: 0;
  padding: 10px;
  width: 90%;
  height: 50px;
  font-weight: 900;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.price {
  font-size: 50px;
  margin: 30px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dollar {
  font-size: 30px;
}

/***
 * Css for toggle buttons
 */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(236, 72%, 79%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: hsl(236, 72%, 79%);
}

input:focus + .slider {
  box-shadow: 0 0 1px hsl(236, 72%, 79%);
  background-color: hsl(236, 72%, 79%);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


@media screen and (min-width: 900px) {
  html,
  body {
    min-height: 100%;
  }
}
